node_modules
npm-debug.log
yarn-error.log

.env.*
.lintstagedrc
.prettierignore
.eslintignore
pakage*


.bundle/
.idea/
.vscode/
.node_modules
android/
ios/
**/node_modules/**
package*
Gemfile

metro.config.ts
*.md
tsconfig.json
yarn*
.eslint.js